@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font import */


/* Optional: Define some global typography defaults */
body {
  font-family: "Cooper";
  background-color: #242424;
  font-weight: 500;

}